body{
background-color: black;
}

.parent{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 2px solid green;
  width: 100vh;
  height: 100vh;
  background-color: aqua;
} 
.child1{
  background-color: black;
  color: white;
  width: 80%;
  height: 60%;
  padding: 30px;
  align-items: center;
  justify-content: center;
}


.child22{
  display: inline-block;
  border: 3px solid purple;
  border-radius: 25%;
  background-color: rgb(13, 243, 9);
  color: white;
  text-align: center;
  font-size: large;
  padding: 5px;
  margin: 10px;
}

.child31{
  display: inline-block;
  margin-right: 20px;
}